
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<script>
    (function blink() {
        $('.blink_me').fadeOut(500).fadeIn(500, blink);
    })();
</script>
@if (ViewBag.user.InfoId == 0)
{
    <body style="background:#4bacd0">
        <div id="registration">
            <a id="registrationtext" class="blink_me" href="@Url.Action("Index", "TissueBankProfile", new { Area = "TissueBank" })">
                You have not yet registered your tissuebank.<br /> Click here to register
            </a>
        </div>
    </body>
}
