<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <!--<section name ="EmailSettings" type ="System.Configuration.NameValueSectionHandler"/>-->
    <section name ="ServicePropertiesSettings" type ="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <appSettings>
    
  </appSettings>
 
  <ServicePropertiesSettings>
  <add key="QueueName" value =".\Private$\EmailQueue"></add>
    <!--  <add key="QueueName" value ="FormatName:Direct=OS:AllocatVm\\private$\\EmailQueue"></add>-->
    <add key="SleepInterval" value ="5000"></add>
    <add key="UseAuthentication" value ="False"></add>
    <add key="NetworkRetryDelay_s" value ="120"></add>
    <add key="PostmasterRetryDelay_s" value ="3600"></add>   
  </ServicePropertiesSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="sachan.amita33@gmail.com">
        <network defaultCredentials="false" enableSsl="true" port="587" host="SMTP.SENDGRID.NET"  userName="azure_d02db28bcb60bd38839c13f0c8256972@azure.com" password="Allocat@1234"/>
      </smtp>
    </mailSettings>
  </system.net>  
    <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
      <listeners>
        <add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             fileName="D:\rolling.log" formatter="Text Formatter" rollFileExistsBehavior="Increment" rollInterval="Midnight" timeStampPattern="dd-MM-yyyy" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, Callstack" />
      </listeners>
      <formatters>
        <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="[Timestamp: {timestamp(local)}]    Message: {message}  Category: {category}  Priority: {priority}  Severity: {severity}  Machine: {localMachine} " name="Text Formatter" />
      </formatters>
      <categorySources>
        <add switchValue="All" name="General">
          <listeners>
            <add name="Rolling Flat File Trace Listener" />
          </listeners>
        </add>
      </categorySources>
      <specialSources>
        <allEvents switchValue="All" name="All Events" />
        <notProcessed switchValue="All" name="Unprocessed Category" />
        <errors switchValue="All" name="Logging Errors &amp; Warnings">
          <listeners>
            <add name="Rolling Flat File Trace Listener" />
          </listeners>
        </errors>
      </specialSources>
    </loggingConfiguration>  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>