
@{
    ViewBag.Title = "TissueBank_Verification_Successful";
}

<link href="~/Assets/css/custom/style.css" rel="stylesheet" />

<div id="verification">
    <h2 style="margin-bottom:35px">TissueBank Verification Successful</h2>
 
        <a href="~/Account">
            <input type="button" class="btn btn-flat" style="height:40px; font-size:15px; font-weight:600" value="Click here to login" />
        </a>
        <p>@ViewBag.message</p>
</div>
